.genreButton {
  border-radius: 30px;
  margin: 5px 2px;
}

.genreButton:hover {
  cursor: pointer;
}

#multiButtonGroup {
  position: relative;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

#joinSession {
  display: none;
}

#createSessionPage {
  display: none;
}

.nav-item{
  cursor: pointer;
}

.outer{
  display: flex; justify-content: center; align-items: center; height: 80vh;
}

.outerbtn{
  margin-bottom:30px;
}

.btn {
  outline: none !important;
  box-shadow: none !important;
}

.btn-joinSession{
  margin: 10px;
}

.create_active{
  background-color: red !important;
  color: white;
  border: none;
}