.genreButton {
  border-radius: 30px;
  margin: 5px 2px;
}

.genreButton:hover {
  cursor: pointer;
}

#multiButtonGroup {
  position: relative;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

#joinSession {
  display: none;
}

#createSessionPage {
  display: none;
}

.btn-joinSession {
  margin: 10px;
}

.create_active {
  background-color: red !important;
  color: white;
  border: none;
}
